@charset "utf-8";
/* CSS Document */

body {
    margin: 0 auto;
    width: 400px;
    height: auto;
    text-align: center;
}



/* ヘッダー用 */
header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

ul {
    width: 160px;
    height: 60px;
    background-color: #fff;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 220px;
    top: 20px;
}

li {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
}



/* コンテンツ用 */

#main {
    width: 400px;
    display: flex;
}

#left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

#right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

#conteiner {
    padding: 45px;
}

.contents {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid #fff;
    margin-top: 10px;
}

.contents:first-child {
    margin-top: 0px;
}



/* フッター用 */

footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}