.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: blue;
}

.left {
    width: 150px;
    height: 250px;
    background-color: greenyellow;
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    float: left;
}

.one {
    width: 150px;
    height: 50px;
    background-color: yellow;
    float: left;
}

.two {
    width: 100px;
    height: 150px;
    background-color: rosybrown;
    float: right;
}

.three {
    width: 150px;
    height: 100px;
    background-color: skyblue;
    float: left;
}

.four {
    width: 250px;
    height: 100px;
    background-color: red;
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: orange;
}